* {
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

.top_navbar {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(206, 205, 205);

}

.left_nav {
    display: flex;
    align-content: center;
    gap: 35px;
}

.top_navbar .left_nav select {
    border: none;
    font-size: 18px;
    cursor: pointer;
    background: none;
}

.top_navbar .left_nav a {
    font-size: 16px;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
}

.top_navbar .right_nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.right_nav a {
    font-size: 16px;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
}

.right_nav select {
    border: none;
    font-size: 18px;
    cursor: pointer;
    background: none;
}

.right_nav .one_a,
.right_nav .two_a {
    color: blue;
}

.navbar-2 {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 0px 150px;
}

.search {
    display: flex;
    margin: 20px 0px;
    gap: -50px;
}

#katalog {
    width: 100px;
    height: 40px;
    background-color: rgba(110, 93, 218, 0.447);
    border-radius: 5px;
    border: none;
}

.search input {

    height: 40px;
    width: 500px;
    border-radius: 5px;


}

.rasm {
    width: 35px;
    height: 35px;
    border-radius: 3px;
}

.asosiy_rasm {
    width: 80%;
    height: auto;
    margin: 0px 10%;
}

.filtir {
    display: flex;
    margin: 0px 130px;
    gap: 20px;
    font-size: 12px;

    height: 20px;

}

.xira-filtir {
    color: rgb(116, 113, 113);
    display: flex;
    font-family: sans-serif;
    gap: 30px;
}

.filtir img {
    width: 25px;
    height: 25px;
}

.asosiy_filtir {
    font-family: sa;
}

.filtir .asosiy_filtir {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.filtir .xira-filtir a {
    text-decoration: none;
    color: rgb(116, 113, 113);
    font-size: 13px;
    gap: 10px;

}